aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-doc
annotated-types
anyio
appdirs
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
brotli
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
coloredlogs
contourpy
crewai
crewai-tools
cryptography
cssselect2
curl_cffi
cycler
defusedxml
deprecation
distro
docstring_parser
durationpy
et_xmlfile
exa-py
exceptiongroup
fastuuid
filelock
flatbuffers
fonttools
frozendict
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
instructor
itsdangerous
Jinja2
jiter
json5
json_repair
jsonref
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
lance-namespace
lance-namespace-urllib3-client
lancedb
linkify-it-py
litellm
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mcp
mdit-py-plugins
mdurl
mmh3
mpmath
multidict
multitasking
narwhals
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pdfminer.six
pdfplumber
peewee
pillow
platformdirs
pluggy
portalocker
posthog
propcache
protobuf
pyarrow
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydyf
Pygments
PyJWT
PyMuPDF
pyparsing
pypdfium2
pyphen
PyPika
pyproject_hooks
pytest
pytest-mock
python-dateutil
python-docx
python-dotenv
python-multipart
pytube
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
shellingham
six
smmap
sniffio
soupsieve
sse-starlette
starlette
streamlit
sympy
tenacity
textual
tiktoken
tinycss2
tinyhtml5
tokenizers
toml
tomli
tomli_w
tqdm
typer
typing-inspection
typing_extensions
tzdata
uc-micro-py
urllib3
uv
uvicorn
uvloop
watchfiles
weasyprint
webencodings
websocket-client
websockets
yarl
yfinance
youtube-transcript-api
zipp
zopfli
